<header id="page-header">
    <h2 class="text-center text-3xl font-light mx-auto w-full">Header</h2>
    <p class="text-center mx-auto w-full">Header text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab assumenda at culpa deleniti doloremque esse eveniet ex excepturi laudantium magnam magni,</p>
</header>
