<footer>
    <h2 class="text-center font-light mx-auto w-full">Footer</h2>
    <p class="text-center mx-auto w-full">Footer text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium architecto aspernatur deleniti doloribus dolorum ea enim incidunt inventore laborum laudantium magnam necessitatibus perspiciatis quas, quisquam quos repudiandae sint unde voluptatibus.</p>
</footer>
