{% extends "_layouts/generic-page-layout.twig" %}

{% block headLinks %}
    {{ parent() }}
{% endblock headLinks %}

{% block content %}
    <section>
        <h1 class="text-4xl font-light text-center">PairaDice</h1>
        <p class="text-lg text-center mx-auto">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa dicta dolor esse excepturi nisi nulla tempore temporibus, ullam veniam voluptatum? Assumenda aut in, magnam mollitia nisi odio quibusdam reprehenderit sunt?
        </p>
    </section>
{% endblock %}

{% block subcontent %}
    <section>
        <h2 class="text-lg font-light text-center mx-auto w-full">subcontent lead</h2>
        <p class="text-sm text-center mx-auto w-full">subcontent text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus atque dolore eaque except</p>
    </section>
{% endblock %}

{# -- Any JavaScript that should be included before </body> -- #}
{% block bodyJs %}
    {{ parent() }}
{% endblock bodyJs %}
